* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --main-color: #d95b14;
  --dark-blue: #133e5a;
  --paragraph-color: #888888;
  --border-color: #e5f4fa;
  --main-transition: 0.4s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* page */
.page {
  min-height: 100vh;
}

/* .header */
/* navbar */
/* home */
/* popular-courses */
/* footer */

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.header .top-bar {
  background-color: var(--dark-blue);
  padding: 10px 0;
}

.header .top-bar ul {
  display: flex;
}

.header .top-bar ul li:not(:last-child) {
  margin-right: 30px;
}

.header .top-bar svg {
  margin-right: 5px;
  color: var(--main-color);
}

.header .top-bar ul li span {
  color: var(--white-color);
}

.header .top-bar ul li a {
  text-decoration: none;
  color: var(--white-color);
}

@media (max-width: 991px) {
  .header .top-bar .contact-info li a {
    display: none;
  }
}

.header .top-bar .login-register {
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .header .top-bar .login-register li svg {
    display: none;
  }
}

/* navbar */
.header .nav-bar {
  background-color: var(--white-color);
  box-shadow: 0 0 10px;
}

.header .nav-bar .logo a {
  display: block;
}
.header .nav-bar .logo img {
  max-width: 100%;
  width: 80px;
}

.header .nav-bar .nav-links {
  display: flex;
}

@media (max-width: 991px) {
  .header .nav-bar .nav-links {
    display: none;
  }
}

.header .nav-bar .nav-links .nav-link {
  display: inline-block;
  color: var(--black-color);
  padding: 15px;
  transition: var(--main-transition) all;
  position: relative;
}

.header .nav-bar .nav-links .nav-link.active::before,
.header .nav-bar .nav-links .nav-link:hover::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  bottom: 0;
  background-color: var(--main-color);
}

.header .nav-bar .icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .nav-bar .icons > div {
  display: flex;
  align-items: center;
}

.header .nav-bar .icons .humburger-menu {
  display: none;
}

@media (max-width: 991px) {
  .header .nav-bar .icons .humburger-menu {
    display: block;
  }
}

.header .nav-bar .icons > div:not(:last-of-type) {
  margin-right: 15px;
}

.header .nav-bar .icons svg {
  cursor: pointer;
  font-size: 20px;
  color: var(--black-color);
  transition: var(--main-transition);
}

.header .nav-bar .icons svg:hover {
  color: var(--main-color);
}

/* header search container */
.header-search-container {
  background-color: transparent;
  opacity: 0;
  transition: 0.5s all;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
}

.header-search-container.active {
  opacity: 1;
  bottom: -40px;
}

.header-search-container form {
  display: block;
  position: relative;
  width: 40%;
}

.header-search-container .header-search-content {
  display: flex;
  justify-content: flex-end;
}

.header-search-container .search-input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 20px;
  background: transparent;
  border-bottom: solid 2px var(--main-color);
  color: var(--white-color);
}

.header-search-container .header-search-button {
  position: absolute;
  top: 0;
  right: 20px;
  width: 40px;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  transition: var(--main-transition);
  color: var(--white-color);
}

.header-search-container .header-search-button:hover {
  color: var(--main-color);
}

/* menu bar */
.menu-bar {
  position: fixed;
  right: -250px;
  width: 200px;
  z-index: 998;
  background-color: var(--dark-blue);
  height: 100vh;
  padding: 20px;
  transition: 0.5s linear;
}

.menu-bar.active {
  right: 0;
}

.menu-bar .menu-close {
  text-align: right;
  color: var(--white-color);
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 50px;
}

.menu-bar .menu-links li:not(:last-child) {
  margin-bottom: 20px;
}

.menu-bar .menu-links .menu-link {
  color: var(--white-color);
  text-decoration: none;
}

/* landing-page */
.landing-page {
  background: url("../imgs/home.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.landing-page::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
}

.landing-page .text {
  padding: 200px 0;
  position: relative;
  z-index: 2;
}

.landing-page .text h1 {
  color: var(--white-color);
  margin-bottom: 50px;
}

.landing-page .text p {
  color: var(--white-color);
  margin-bottom: 50px;
}

.landing-page .text .buttons {
  margin-top: 30px;
}

.landing-page .text .buttons a {
  border: 1px solid var(--main-color);
  text-decoration: none;
  color: var(--main-color);
  transition: var(--main-transition);
  padding: 10px 15px;
  font-weight: bold;
  margin: 0 10px;
}

.landing-page .text .buttons a:hover,
.landing-page .text .buttons a.active {
  background-color: var(--main-color);
  color: var(--white-color);
}

/* popular-courses */
.popular-courses {
  padding: 100px 0 50px;
}

.popular-courses .title {
  color: var(--dark-blue);
  text-align: center;
  font-size: 40px;
  position: relative;
  margin-bottom: 100px;
}

.popular-courses .title::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 50px;
  height: 3px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.single_course {
  border: 1px solid #f6f6f6;
}

.single_course:not(:last-of-type) {
  margin-bottom: 15px;
}

.single_course img {
  max-width: 100%;
}

.single_course .single-course-text {
  padding: 40px 30px;
}

.single_course .course-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.single_course .course-header .cat-btn {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 4px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.single_course .course-header h4 {
  font-size: 18px;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .single_course .course-header .cat-btn {
    font-size: 12px;
    padding: 4px 12px;
  }

  .single_course .course-header h4 {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .single_course .course-header {
    flex-direction: column;
  }
  .single_course .course-header .cat-btn {
    padding: 4px 9px;
    margin-bottom: 8px;
  }
}

@media (max-width: 567px) {
  .single_course .course-header {
    flex-direction: row;
  }
}

.single_course .course-info a {
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
}

.single_course .course-info a h3 {
  font-size: 20px;
  transition: var(--main-transition);
  color: var(--dark-blue);
}

.single_course .course-info a h3:hover {
  color: var(--main-color);
}

.single_course .course-info p {
  color: var(--paragraph-color);
  font-size: 14px;
}

.single_course .author-info {
  display: flex;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #f6f6f6;
}

.single_course .author-info img {
  max-width: 100%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.single_course .author-info .author-text p {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--paragraph-color);
}
.single_course .author-info .author-text h5 {
  font-size: 16px;
}

/* who edu */
.who-edu {
  padding: 0px 0 50px;
}

.who-edu .info-part {
  background-color: #eee;
}

@media (max-width: 767px) {
  .who-edu .info-part {
    margin-bottom: 20px;
  }
}

.who-edu .text {
  padding: 30px;
}

.who-edu .text .title {
  margin-bottom: 50px;
}

.who-edu .text .title h2 {
  color: var(--black-color);
  color: var(--dark-blue);
  font-size: 40px;
  margin-bottom: 0;
}

.who-edu .text .title p {
  padding-left: 10px;
  font-size: 16px;
  color: var(--paragraph-color);
}

.who-edu .text .content ul li {
  display: flex;
  align-items: center;
}

.who-edu .text .content ul li:not(:last-of-type) {
  margin-bottom: 15px;
}

.who-edu .text .content ul li svg {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 15px;
}

.who-edu .text .content ul li p {
  font-size: 20px;
  margin-bottom: 0;
}

.who-edu .image img {
  max-width: 100%;
}

/* footer */
footer {
  background-color: var(--dark-blue);
  padding: 30px;
}

@media (max-width: 767px) {
  footer .single-footer-caption {
    margin-top: 20px;
  }
}

footer .single-footer-caption > div:not(:last-child) {
  margin-bottom: 25px;
}

footer .footer-logo a {
  display: block;
}

footer .footer-logo a img {
  width: 70px;
}

footer .footer-title p {
  color: var(--white-color);
  font-size: 14px;
}

footer .footer-social {
  display: flex;
  align-items: center;
}

footer .footer-social > a:not(:last-child) {
  margin-right: 10px;
}

footer .footer-social a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  transition: var(--main-transition);
}

footer .footer-social a:hover {
  background-color: var(--main-color);
}

footer .single-footer-caption .title h4 {
  color: var(--white-color);
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 0;
}

footer .single-footer-caption .title ul {
  margin-top: 20px;
  margin-bottom: 0;
}

footer .single-footer-caption .title ul li a {
  text-decoration: none;
  color: var(--paragraph-color);
  color: #eee;
  transition: var(--main-transition);
}

footer .single-footer-caption .title ul li:not(:last-child) {
  margin-bottom: 8px;
}

footer .single-footer-caption .title ul li a:hover {
  color: var(--main-color);
}

footer .single-footer-caption .contact-info p {
  color: var(--white-color);
}

footer .single-footer-caption .contact-info span {
  color: #ff5c00;
}

footer .footer-bottom {
  padding: 20px 0 0;
}
footer .footer-bottom .copyright {
  text-align: center;
}

footer .footer-bottom .copyright p {
  color: var(--white-color);
}

footer .footer-bottom .copyright p span {
  color: var(--main-color);
}

footer .footer-bottom .copyright p a {
  color: #ff5c00;
  text-decoration: none;
}
