.input {
  font-size: 15px;
  font-weight: 400;
  color: #505050;
  width: 100%;
  display: block;
  border: none;
  height: 45px;
  padding: 10px 18px;
  border-radius: 5px;
  box-shadow: 0 0 30px #eee;
  outline: none;
  margin-bottom: 20px;
}
